@font-face {
    font-family: 'font-1';
    src: url(./NotoSerif-Bold.ttf);
}
@font-face {
    font-family: 'font-2';
    src: url(./Quicksand-VariableFont_wght.ttf);
}
body{
    background-color:oldlace;
}
.menu{
    position:relative;
    height: 50px;
    background-color:lightgray;
    font-family: 'font-1';
}
.menu-item-wrapper{
    /* position: absolute; */
    display: inline-block;
    padding-bottom: 10px;
    height: 40px;
    left: 200px;
    top: 10px;
}

.main{
    height: 1300px;
    margin-left: 95px;
    margin-right: 100px;
    font-family: 'font-2';
}
.image {
    overflow: hidden;
}
.image img{
    transition: 2s;
    transition-delay: 1s;
}
.image img:hover{
    transform: scale(1.1);
}
.music-video-wrapper{
    float: left;
}
.musicBXH-wrapper{
   float: left;
   padding-left: 20px;
}
.BXH{
    padding-left: 140px;
}
.namemusic1{
    color:darkcyan;
    padding-left: 2px;
   /* margin:3px 5px; /* 3px: top, bottom 65px:left, right*/
}
.namemusic2{
    color:darkcyan;
    padding-left: 30px;
    /*margin: 3px 38px;/* tạo khoảng trống bên ngoài border hay nôi dung*/
}
.namemusic3{
    color:darkcyan;
    padding-left: 27px;
}
.namemusic4 {
    color:darkcyan;
    padding-left: 27px;
}
.videoname1 {
    padding-left: 5px;
}
.videoname2{
padding-left: 280px;
}
.videoname3{
    padding-left: 280px;
}
.forter-connect{
    text-align: center;
    background-color:rgb(225, 233, 235);
    font-family: 'font-1';
}
.forter{
    background-color: lightblue;
    text-align: center;
}
