 /* @font-face {
     font-family: 'font-1';
     src: url(./font/Montserrat-Light.ttf);
 }
 
 .heading{
     background-image: url(./home2-event-box-1.jpg);
     background-size: cover;
     padding-left: 280px;
 }
.container{
    max-width: 90%;
    width: 960px;
}
.container .headline{
    font-family:'font-1';
    font-size: 36px;
    width: 560px;
    height: 80px;
    color: rgba(255,255,255,1);
}
@font-face {
    font-family: 'font-2';
    src: url(./font/Montserrat-Medium.ttf);
}
.container .headline1{
    font-family: 'font-2';
    font-size: 15px;
    width: 540px;
    height: 40;
}
@font-face {
    font-family: 'font-3';
    src: url(./font/OpenSans-ExtraBold.ttf);
}
.container .button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    font-family: 'font-3';
    background-color: blue;
    color:rgba(255,255,255,1);
    display: block;
    border: none;
}
.container .phone-heading{
    margin-top: 60px;
    margin-left: -17px;
    float: left;
}
@font-face {
    font-family: 'font-4';
    src: url(./font/Montserrat-Medium.ttf);
}
.container .headline2{
    float: right; 
    margin-top: 172px;
    margin-right: 70px;
    font-size: 16px;
    font-family: 'font-4'; 
}
.container .headline3{
    float: right;
    width: 430px;
    height: 63px;
    font-size: 12px;
    margin-top: -13px;
}
.section-1{
    background-color:rgba(240,240,240,0.99);
    width: 1519px;
    height: 476px;
}
.section-1 .img1{
    margin-top: 89px;
    margin-left: -374px;
    width: 480px;
    height: 298px;
    float: left;
}
.section-1 .headline-section-1{
    width: 500px;
    height: 250px;
    float: left;
    margin-left: 50px;
    margin-top: 115px;
}
.section-1 .headline-section-1 p{
    font-family:'font-2';
    font-size: 14px;
}
.section-2{
   width: 1519px;
   height: 747px;
   background-color: rgba(255,255,255,5);
   text-align: center;
}
.section-2 .line{
    width: 80px;
    margin-left: 717px;
    margin-top: -3px;
}
.section-2 .item-section-2{
    width: 476px;
    height: 420px;
    margin-left: 280px;
    text-align: left;
    font-family: font-2;
    float: left;
    margin-top: 37px;
    

}
.section-2 .item1-section-2{
    width: 500px;
    height: 420px;
    text-align: left;
    font-family: font-2;
    float: right;
    margin-right: 220px;
    margin-top: 37px;
   
}
 */
 @font-face {
    font-family: 'font-1';
    src: url(./font/Montserrat-Light.ttf);
}
 * {
    box-sizing: border-box;
    font-family: 'font-1';
  }
  p{
      font-family: sans-serif;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  [class*="col-"] {
    float: left;
  }
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
 .container{
    max-width: 90%;
    width: 960px;
    margin: 0 auto;
}
.heading .logo{
    text-align: left;
}
.heading .hotline{
    text-align: right;
}
.heading .cd{
    width: 52px;
    height: 52px;
    margin-top: 80px;
}
.heading{
    background-image: url(./home2-event-box-1.jpg);
    background-size: cover;
    color: #fff;
    padding-top: 25px;
}
.heading .heading-content{
    width: 60%;
    margin-bottom: 40px;
}
.heading .heading-content .headline{
    font-weight: bold;
}
.heading .heading-content .sub-headline{
    font-size: 16px;
}
.heading .heading-content .button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    font-family: 'font-3';
    background-color: blue;
    color:rgba(255,255,255,1);
    border: none; /* bo nut troi ra cua button*/
    text-transform: uppercase; /* in hoa */
}
.heading .project{
    margin-top: 80px;
}
.heading .project .headline2{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.heading .project .headline3{
    font-size: 12px;
}
.heading .phone-heading{
    margin: 0;
}
.heading .phone-heading img{
    width: 80%;
}
@media only screen and (max-width: 426px) {
    [class*="col-"] { /*nhung class nao bat dau bang col- thi width = 100% */
        width: 100%;

      }
      .heading {
          text-align: center;
      }
      .heading .logo{
        text-align: center;
    }
    .heading .hotline{
        text-align: center;
    }
    .heading .heading-content{
        width: 100%;
        margin-bottom: 40px;
    }
}
/* .Section1{
    background-color: #F5F5F5;
}
.container1{
    max-width: 90%;
    width: 960px;    
    height: 456px;
    margin: 0 auto;
    padding-top:83px;   
}
.container1 .section-1 img{
    width:448px;
    height:289px;
}
.container1 .headline-section-1{
    padding-left: 7px;
    font-size: 14px;
    font-weight: bold;
}
@font-face {
    font-family: 'font-3';
    src: url(./font/Montserrat-SemiBold.ttf);
}
.Section1 .headline-about-section-1{
    font-size: 28px;
    font-family: 'font-3';
}
@font-face {
    font-family: 'font-2';
    src: url(./font/Montserrat-SemiBold.ttf);
}
.container1 .headline-section-1 .sup-section-1{
    font-family: 'font-2';
    color:rgb(57, 141, 211);
}
@media only screen and (max-width:426px) {
    [class*="col-"] { /*nhung class nao bat dau bang col- thi width = 100% 
        width: 100%;
    }
    .Section1{
        text-align: center;
    }
    .container1{
        height: 506px;
    }
    .container1 .section-1 img{
        width:335px;
        height:198px;
        margin-top: -65px;
    }
    .Section1 .headline-about-section-1{
        margin-top: 11px;
    }
}
@media only screen and(max-width:321px) {
    [class*="col-"] { /*nhung class nao bat dau bang col- thi width = 100% 
        width: 100%;
    }
    .container1{
        height: 551px;
    }
    .container1 .section-1 img{
        width: 282px;
        height:198px;
        margin-top: -65px;
    }
}
.Section2{
    background-color: #F8F8F8;
}
.container2{
    max-width: 90%;
    width: 960px;
    height: 747px;
    margin: 0 auto;
}
.container2 .app-features{
    text-align: center;
}
.container2 .app-features .line{
    width: 83px;
    margin-left: 425px;
    margin-top: -7px;
}
.container2 .app-features h2{
    font-size: 28px;
    font-family: 'font-3';
    padding-top: 70px;
    margin-top: 0;
}
.container2 .app-features p{
    font-family: 'font-3';
    font-size: 14px;
}
.container2 .content-section2{
    margin-top: 10px;
}
.container2 .responaive-disign{
    width: 467px;
    height: 251px;
    font-size: 13px;
}
.container2 .responaive-disign img{
    width: 451px;
    height: 251px;
}
.container2 .creative-design{
    width: 448px;
    height: 251px;
    font-size: 13px;
}
.container2 .creative-design img{
    width: 451px;
    height: 251px;
} */
.about-us{
    background-color: #F5F5F5;
    padding-top: 80px;
    padding-bottom: 80px;
}
.about-us .image-wrapper{
    width: 100%;
    overflow: hidden;
}
.about-us .image-wrapper .about-us_img{
    transform: scale(1.1);
    transform: translate(-20px);
}
.about-us .about-us_content{
    margin-left: 40px;
}
.about-us .about-us_content .about-us_title{
    font-size: 30px;
    font-weight: 700;
}
.about-us .about-us_content p{
    font-size: 14px;
}
.about-us .about-us_content .about-us_desciption{
    color: #008ed6;
}
@media only screen and (max-width: 426px) {
    .about-us .image-wrapper .about-us_img{
        transform: none;
        width: 100%;
    }
    .about-us .about-us_content{
        text-align: center;
    }
}
.app-features{
    background-color: #F8F8F8;
    padding-top: 70px;
    padding-bottom: 70px;
}
.app-features .app-features_wrapper{
    text-align: center;
}
.app-features .app-features_wrapper .app-features_title{
    margin-top: 0;
}
.app-features .app-features_wrapper .app-features_desciption{
    margin-bottom: 40px;
}
.design_wrapper{
    width: 100%;
    height: 430px;
}
.app-features .responsive-design_wrapprer{
    padding-right: 20px;
    font-size: 14px;
}
.app-features .responsive-design_wrapprer img{
    width: 100%;
}
.app-features .creative-design_wrapper{
    padding-left: 20px;
    font-size: 14px;
}
.app-features .creative-design_wrapper img{
    width: 100%;
}
@media only screen and (max-width: 769px){
    .app-features .responsive-design_wrapprer img{
        width: 100%;
    }
    .app-features .creative-design_wrapper img{
        width: 100%;
    }   
}
.at-work{
    background-color: #F5F5F5;
    padding-top: 100px;
    padding-bottom: 80px;
}
.at-work .at-work_content{
    margin-top: 18px;
    margin-right: 28px;
    font-size: 14px;
}
.at-work .at-work_content .at-work_title{
    font-size: 30px;
    font-weight: 700;
}
.at-work .at-work_content .at-work_desciption{
    color: #008ed6;
}
.at-work .at-work-image-wraper{
    width: 100%;
    /* margin-left: 17px; */
    overflow: hidden;
}
.at-work .at-work-image-wraper .at-work_img{
    transform: scale(1.1);
    transform: translate(-63px);
    /* height: 295px; */
}
@media only screen and (max-width: 426px) {
    .at-work .at-work-image-wraper .at-work_img{
       width: 100%;
       transform: none;
    }
    .at-work .at-work_content{
        margin-top: -109px;
    
    }

}